doctype html
html
  head
    title Mobile Percipio BFF
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
    .navbar
      img.navheader(src="/logo.svg" alt="percipio", onClick="window.location.href = '/'")
      span.navtitle
  body
    block content