body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 !important;
}

a {
  color: #00B7FF;
}

.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.heading {
  color: grey;
  font-size: 16px;
  font-weight: bold;
  font-family: "Lucida Grande"
}

.navbar{
  display: flex;
  align-items: center;
  background-color: #f7fcf8;
  width: 100%;
  height: 3em;
  font-weight: bold;
  font-size: 20px;
  margin: 0 !important;
}

.navheader{
  height: 2em;
  flex: 0.3;
  justify-content: flex-start;
}

.navtitle{
  color: black;
  margin-right: auto;
}

.button {
  border: 0;
  background: #2E77D3;
  color: white;
  font-family: 'Lucida Grande';
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 2.5rem;
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}

.next {
  height: 3em;
  width:5%;
  margin-left: 75%;
  margin-top:10px;
  color: #2E77D3;
  font-family: 'Lucida Grande';
}

input, textarea {
  width:100%;
  padding:10px;
  border: 1px solid grey;
}

label {
  padding: 10px 0;
  display: block;
}

.form {
  background: white;
  padding: 2rem;

  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}

.errorconsole{
  background-color: black;
  max-width:900px;
  margin: 0 auto;
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.logs{
  max-width:900px;
  color: white;
  padding: 25px;
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}
.table{
  margin-top:3%;
  margin-left: 86%;
  border: 1px solid rgb(230, 230, 230);
}

.checkbox{
  padding: 10px;
}
