mixin domainForm(store = {})
  h2 Domain
  form(action=store.domain method="POST" class="card" name="domainform")
    label(for="domainname") DomainName
    input#domaininput(type="text", name="domain", value="")
    input(type="button", name="", value="Execute" class="button" onClick="javascript:validateDomain()")
mixin loginForm(store = {})
  h2 Login
  form(action=store.login method="POST" class="card" name="loginform")
    label(for="domainname") Domain
    input#domainname(type="text", name="domainname", value=store.domainname)
    label(for="username") UserName/Email
    input#loginusername(type="text", name="username", value="")
    label(for="password") Password
    input#loginpassword(type="password", name="password", value="")
    input(type="button", name="", value="Execute" class="button" onClick="javascript:validateSignin()")
mixin logs(store = {})
  form(action=store.logs method="POST" class="log" name="logform")
    table(class="table")
      tbody
          tr
            td
              input#checkboxlog(type="checkbox", name="checkbox",checked = store.showlogs onChange="javascript:sub()" )
            td
              label(for="password" class="checkbox") Show Logs     
